.systemSettingPage{
  .ant-tabs-nav-wrap{
    background: #D2DCED;
  }


  .timeConfig{
    padding-left: 20px;


    .gps,
    .ntp,
    .hand{
      margin-top: 20px;
      > .ant-row{
        padding-left: 24px;
        align-items: center;
        margin-bottom: 24px;
        .ant-form-item{
          margin-bottom: 0;
        }

      }

      > label{
        margin-bottom: 20px;
        span{
          color: #3485FD;
          font-weight:bold;
        }
      }
    }
  }
}